* {
    padding: 0;
    margin: 0;
    font-family: "IranSans";
    overflow-x: hidden;
}
.bg-img {
    width: 100%;
    height: 100vh;
    position: relative; /* برای تنظیم موقعیت کارت دعوت */
    animation: zoomOut 5s infinite alternate; /* انیمیشن زوم */
}

.container {
    position: relative; /* موقعیت برای کارت دعوت */
    height: 100vh; /* اطمینان از اینکه کانتینر تمام ارتفاع را پر کند */
}
.invitation {
    width: 90%;
    max-width: 500px;
    /* padding: 30px; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* border: 2px solid rgba(255, 255, 255, 0.1); */
    /* border-radius: 15px; */
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); */
    text-align: center;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: fadeIn 1s forwards;
}
.header-text {
    font-size: 1rem; /* اندازه بزرگتر */
    font-weight: bold; /* پررنگ */
    color: #2c3e50; /* رنگ دلخواه */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* سایه متن */
    margin: 10px 0;
}

.names {
    font-size: 2rem; /* اندازه بزرگتر برای نام‌ها */
    font-weight: bold; /* پررنگ */
    color: #47218e; /* رنگ زیبا */
    margin: 10px 0;
}

.date, .details {
    font-size: 1rem; /* اندازه متن برای تاریخ و جزئیات */
    color: #34495e; /* رنگ ملایم */
    margin: 5px 0;
}

.poem {
    font-size: 1rem; /* اندازه متن شعر */
    color: #7f8c8d; /* رنگ ملایم */
    margin: 10px 0;
    line-height: 1.5; /* فاصله بین خطوط */
}

.border-decoration {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 15px;
    pointer-events: none; /* برای جلوگیری از تداخل در کلیک‌ها */
}

/* انیمیشن زوم */
/* انیمیشن زوم */
@keyframes zoomOut {
    0% {
        /* transform: scale(1) translateY(-2%)  translateY(0%);  */
        transform: scale(1.1) translateY(-2%) translateX(-8%);
        transform: scale(0.5); 
    }
    50% {
        transform: scale(1.1) ; /* حرکت به سمت پایین */
    }
    100% {
        transform: scale(0);  
         transform: scale(1.1) translateX(-2%) translateY(-2%); /* زوم به ۱.۱ و حرکت به سمت پایین */
    }
}

/* انیمیشن فید این */
@keyframes fadeIn {
    from {
        opacity: 0; /* شروع از شفافیت صفر */
    }
    to {
        opacity: 1; /* پایان با شفافیت کامل */
    }
}
