* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.bodybg {
    background-image: url("image/3d-wedding-invitation-greeting-cards-floral-backgrounds-templates-with-copyspace_1278346-18924.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    animation: smoothZoom 5s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
}

@keyframes smoothZoom {
    0% {
        transform: scale(1); /* مقیاس اولیه */
    }
    50% {
        transform: scale(1.05) translateY(-10px); /* زوم خیلی کم و حرکت مختصر */
    }
    100% {
        transform: scale(1); /* بازگشت به حالت اولیه */
    }
}
